h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: sans-serif;
}
.gallary{
    height: 80%;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
}
.image-box{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}