*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(Images/back.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
}
.login-btn{
   text-decoration: none;
   color: brown; 
   margin: 15px;
   font-weight: 400;
}
.down-btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: khaki;
    background-image: linear-gradient(45deg, #);
}